<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.petnow.mapper.PetMapper">
    <insert id="insertPet">
        INSERT INTO pets
        (
            user_id,
            name,
            birth_year,
            sex,
            weight,
            is_neutered,
            memo,
            size
        )
        VALUES
            (
                #{userId},
                #{name},
                #{birthYear},
                #{gender},
                #{weight},
                #{neutered},
                #{note},
                #{sizeCode}
            )
    </insert>

    <select id="getPetList"
            parameterType="long"
            resultType="com.example.petnow.dto.response.PetListResponse">

        SELECT
            name,
            size_code,
            weight
        FROM pets
        WHERE user_id = #{userId}
        ORDER BY created_at DESC

    </select>

    <update id="updatePet">
    UPDATE pets
    SET name = #{name}, size_code = #{sizeCode},
        weight = #{weight}, neutered = #{neutered},
        note = #{note}

    WHERE id = #{petId}
    </update>

</mapper>