<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.petnow.mapper.PlaceMapper">
    <select id="findById"
            resultType="com.example.petnow.entity.Place">
        SELECT
        id,
        hourly_price AS hourlyPrice,
        nightly_price AS nightlyPrice
        FROM places
        WHERE id = #{id}
        AND deleted_at IS NULL
    </select>
    <select id="findAllPublished"
            resultType="com.example.petnow.dto.response.PlaceListResponse">
        SELECT
        p.id,
        u.nickname,
        p.name,
        p.description,
        p.place_type AS placeType,
        p.allows_small_dog AS allowsSmallDog,
        p.allows_medium_dog AS allowsMediumDog,
        p.allows_large_dog AS allowsLargeDog,
        p.provides_home_camera AS providesHomeCamera,
        p.provides_realtime_photo AS providesRealtimePhoto,
        p.provides_yard AS providesYard,
        p.provides_walk AS providesWalk,
        p.hourly_price AS hourlyPrice
        FROM places p
        JOIN users u ON u.id = p.host_user_id
        WHERE p.status = 'PUBLISHED'
        AND p.is_visible = TRUE
        AND p.deleted_at IS NULL
        ORDER BY p.id DESC
    </select>
    <select id="findDetailById"
            resultType="com.example.petnow.dto.response.PlaceDetailResponse">
        SELECT
        p.id,
        p.host_user_id AS hostUserId,
        u.nickname,
        p.name,
        p.description,
        p.place_type AS placeType,
        p.area_size AS areaSize,
        p.capacity,
        p.allows_small_dog AS allowsSmallDog,
        p.allows_medium_dog AS allowsMediumDog,
        p.allows_large_dog AS allowsLargeDog,
        p.provides_home_camera AS providesHomeCamera,
        p.provides_realtime_photo AS providesRealtimePhoto,
        p.provides_yard AS providesYard,
        p.provides_walk AS providesWalk,
        p.other_options AS otherOptions,
        p.hourly_price AS hourlyPrice,
        p.nightly_price AS nightlyPrice,
        p.status,
        p.is_visible AS visible
        FROM places p
        JOIN users u ON u.id = p.host_user_id
        WHERE p.id = #{placeId}
        AND p.deleted_at IS NULL
    </select>
</mapper>
