<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.petnow.mapper.PlaceMapper">
    <select id="findById"
            resultType="com.example.petnow.entity.Place">
        SELECT
        id,
        hourly_price AS hourlyPrice,
        nightly_price AS nightlyPrice
        FROM places
        WHERE id = #{id}
        AND deleted_at IS NULL
    </select>
    <select id="findAllPublished"
            resultType="com.example.petnow.dto.response.PlaceListResponse">
        SELECT
        id,
        nickname,
        name,
        description,
        place_type AS placeType,
        allows_small_dog AS allowsSmallDog,
        allows_medium_dog AS allowsMediumDog,
        allows_large_dog AS allowsLargeDog,
        provides_home_camera AS providesHomeCamera,
        provides_realtime_photo AS providesRealtimePhoto,
        provides_yard AS providesYard,
        provides_walk AS providesWalk,
        hourly_price AS hourlyPrice
        FROM places
        WHERE status = 'PUBLISHED'
        AND is_visible = TRUE
        AND deleted_at IS NULL
        ORDER BY id DESC
    </select>
    <select id="findDetailById"
            resultType="com.example.petnow.dto.response.PlaceDetailResponse">
        SELECT
        id,
        host_user_id AS hostUserId,
        nickname,
        name,
        description,
        place_type AS placeType,
        area_size AS areaSize,
        capacity,
        allows_small_dog AS allowsSmallDog,
        allows_medium_dog AS allowsMediumDog,
        allows_large_dog AS allowsLargeDog,
        provides_home_camera AS providesHomeCamera,
        provides_realtime_photo AS providesRealtimePhoto,
        provides_yard AS providesYard,
        provides_walk AS providesWalk,
        other_options AS otherOptions,
        hourly_price AS hourlyPrice,
        nightly_price AS nightlyPrice,
        status,
        is_visible AS visible
        FROM places
        WHERE id = #{placeId}
        AND deleted_at IS NULL
    </select>
</mapper>
