<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.petnow.mapper.ReviewMapper">

    <!-- 리뷰 등록 -->
    <insert id="insertReview" parameterType="com.example.petnow.entity.Review"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO reviews ( reservation_id, rating, content, created_at )
        VALUES ( #{reservationId}, #{rating}, #{content}, NOW() )
    </insert>

    <!-- 리뷰 작성 권한 체크 (해당 예약이 로그인된 유저의 예약이 맞는지 학인) -->
    <select id="countReservationOwnedByMember" resultType="int">
        SELECT COUNT(*)
        FROM reservations
        WHERE id = #{reservationId}
        AND guest_user_id = #{memberId}
    </select>

</mapper>